<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--Authentication-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPUsServlet</servlet-name>
        <servlet-class>control.view.CPUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GPUsServlet</servlet-name>
        <servlet-class>control.view.GPUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RAMsServlet</servlet-name>
        <servlet-class>control.view.RAMsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PSUsServlet</servlet-name>
        <servlet-class>control.view.PSUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MotherBoardsServlet</servlet-name>
        <servlet-class>control.view.MotherBoardsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSDsServlet</servlet-name>
        <servlet-class>control.view.SSDsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>control.view.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCPUsServlet</servlet-name>
        <servlet-class>control.view.search.FilterCPUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterGPUsServlet</servlet-name>
        <servlet-class>control.view.search.FilterGPUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterMotherBoard</servlet-name>
        <servlet-class>control.view.search.FilterMotherBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterPSUsServlet</servlet-name>
        <servlet-class>control.view.search.FilterPSUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRAMsServlet</servlet-name>
        <servlet-class>control.view.search.FilterRAMsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterSSDsServlet</servlet-name>
        <servlet-class>control.view.search.FilterSSDsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>control.view.detail.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>payment.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateProductServlet</servlet-name>
        <servlet-class>control.view.detail.RateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CasesServlet</servlet-name>
        <servlet-class>control.view.CasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCasesServlet</servlet-name>
        <servlet-class>control.view.search.FilterCasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>main.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>control.report.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListFavorServlet</servlet-name>
        <servlet-class>control.favor.ViewListFavorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFavorServlet</servlet-name>
        <servlet-class>control.favor.EditFavorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageAccount</servlet-name>
        <servlet-class>control.account.ManageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>control.account.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>control.auth.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/auth/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>control.auth.ActivateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/auth/activate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>control.auth.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>control.auth.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPUController</servlet-name>
        <servlet-class>Controller.CPUController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manage</servlet-name>
        <servlet-class>control.manage.products.manage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaseController</servlet-name>
        <servlet-class>Controller.CaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPUServlet</servlet-name>
        <servlet-class>control.manage.products.CPUServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaseServlet</servlet-name>
        <servlet-class>control.manage.products.CaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GPUServlet</servlet-name>
        <servlet-class>control.manage.products.GPUServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MotherboardServlet</servlet-name>
        <servlet-class>control.manage.products.MotherboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PSUServlet</servlet-name>
        <servlet-class>control.manage.products.PSUServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RAMServlet</servlet-name>
        <servlet-class>control.manage.products.RAMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSDServlet</servlet-name>
        <servlet-class>control.manage.products.SSDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/auth/recovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/auth/googleLogin</url-pattern>
    </servlet-mapping>
    <!--Profile-->
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>control.profile.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>control.profile.EditProfile</servlet-class>
    </servlet>
    <!--Product-->
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>packages.wrap.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>database.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>packages.wrap.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/manage/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccount</servlet-name>
        <url-pattern>/manage/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/manage/profile/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/manage/profile/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPUsServlet</servlet-name>
        <url-pattern>/CPU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GPUsServlet</servlet-name>
        <url-pattern>/GPU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RAMsServlet</servlet-name>
        <url-pattern>/RAM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSUsServlet</servlet-name>
        <url-pattern>/PSU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MotherBoardsServlet</servlet-name>
        <url-pattern>/MotherBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSDsServlet</servlet-name>
        <url-pattern>/SSD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCPUsServlet</servlet-name>
        <url-pattern>/FilterCPU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterGPUsServlet</servlet-name>
        <url-pattern>/FilterGPU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterMotherBoard</servlet-name>
        <url-pattern>/FilterMotherBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterPSUsServlet</servlet-name>
        <url-pattern>/FilterPSU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRAMsServlet</servlet-name>
        <url-pattern>/FilterRAM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterSSDsServlet</servlet-name>
        <url-pattern>/FilterSSD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/view/detail/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manage</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPUServlet</servlet-name>
        <url-pattern>/cpus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaseServlet</servlet-name>
        <url-pattern>/cases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GPUServlet</servlet-name>
        <url-pattern>/gpus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MotherboardServlet</servlet-name>
        <url-pattern>/motherboards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSUServlet</servlet-name>
        <url-pattern>/psus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RAMServlet</servlet-name>
        <url-pattern>/rams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSDServlet</servlet-name>
        <url-pattern>/ssds</url-pattern>
    </servlet-mapping>
    <!-- Payment -->
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/payment/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateProductServlet</servlet-name>
        <url-pattern>/product/rate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CasesServlet</servlet-name>
        <url-pattern>/CASE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCasesServlet</servlet-name>
        <url-pattern>/FilterCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListFavorServlet</servlet-name>
        <url-pattern>/favor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFavorServlet</servlet-name>
        <url-pattern>/editFavor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>payment.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentQuery</servlet-name>
        <servlet-class>payment.Query</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/payment/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentQuery</servlet-name>
        <url-pattern>/payment/paymentQuery/*</url-pattern>
    </servlet-mapping>
</web-app>
