.navbar-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 11vh;
  display: flex;
  opacity: 1;
  align-items: flex-start;
  background-color: var(--dl-color-theme-secondary1);
}

.navbar-container2 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary1);
}

.navbar-navbar-interactive {
  top: 0;
  width: 100%;
  height: 11vh;
  display: flex;
  z-index: 1;
  position: fixed;
  max-width: 100%;
  align-self: stretch;
  box-shadow: 0px 4px 5px 0px #151111;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #a43c3c;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-theme-secondary1);
}

.navbar-link {
  display: contents;
}

.navbar-pasted-image {
  width: 6vw;
  height: auto;
  min-width: 80px;
  text-decoration: none;
}

.navbar-desktop-menu {
  flex: 1;
  width: 80vw;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.navbar-links {
  gap: var(--dl-space-space-twounits);
  width: 70vw;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-container3 {
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.navbar-textinput {
  width: 100%;
  height: 3vh;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 20px;
}

.navbar-search {
  width: 5vw;
  height: 3vh;
  display: flex;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}

.navbar-text {
  font-size: 0.9rem;
  font-weight: 400;
}

.navbar-container4 {
  width: 35vw;
  height: 2vh;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-home {
  font-size: 0.9rem;
  text-decoration: none;
}

.navbar-contact {
  font-size: 0.9rem;
}

.navbar-whoweare {
  font-size: 0.9rem;
}

.navbar-manager-order {
  font-size: 0.9rem;
  text-decoration: none;
}

.navbar-buttons {
  width: 17vw;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-left: 0px;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-link1 {
  display: contents;
}

.navbar-icon {
  fill: #101010;
  width: 3vw;
  height: 3vh;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.navbar-icon02 {
  fill: #161515;
  width: 3vw;
  height: 3vh;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}

.navbar-account {
  width: 8vw;
  height: 4vh;
  display: flex;
  position: relative;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}

.navbar-icon04 {
  width: 3vw;
  height: 3vh;
  margin-left: var(--dl-space-space-halfunit);
}

.navbar-burger-menu {
  display: none;
}

.navbar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}

.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.navbar-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.navbar-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.navbar-container6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.navbar-textinput1 {
  width: 291px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
}

.navbar-search1 {
  width: 61px;
  height: 33px;
  display: flex;
  border-color: var(--dl-color-theme-primary1);
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}

.navbar-text3 {
  font-weight: 400;
}

.navbar-buttons1 {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}

@media(max-width: 1200px) {
  .navbar-desktop-menu {
    display: none;
  }

  .navbar-burger-menu {
    display: flex;
  }

  .navbar-pasted-image1 {
    width: 137px;
    height: 119px;
  }
}

@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .navbar-burger-menu {
    align-items: center;
    justify-content: center;
  }
}

@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }

  .navbar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }

  .navbar-pasted-image1 {
    width: 108px;
    height: 78px;
  }

  .navbar-textinput1 {
    width: 257px;
    height: 37px;
  }
}

.menu-function-container {
  width: 100%;
  height: 5vh;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(192, 36, 37) 0.00%, rgba(42, 42, 39, 0.45) 100.00%);
}

.menu-function-manager {
  width: 70vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-function-mgt-ware-house {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-size: 0.9rem;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 600;
}

.menu-function-mgt-customer {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-size: 0.9rem;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.menu-function-mgt-feebcack {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-size: 0.9rem;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.menu-function-mgt-staff {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-size: 0.9rem;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.menu-function-mgt-report {
  font-size: 0.9rem;
}

.menu-function-root-class-name38 {
  align-self: center;
}

.view-cart-component-container {
  width: 80vw;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary1);
}

.view-cart-component-heading {
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}

.view-cart-component-text {
  width: 65vw;
  height: 100%;
  font-size: 3rem;
  font-style: italic;
  text-align: left;
  font-family: "Merriweather";
  font-weight: 700;
}

.view-cart-component-form-root {
  width: 70vw;
  display: flex;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}

.view-cart-component-container01 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

.view-cart-component-product {
  flex: 0 0 auto;
  width: 70vw;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.view-cart-component-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.view-cart-component-name-product {
  width: 18vw;
  padding: 0px;
  font-size: 1rem;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
}

.view-cart-component-container03 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-cart-component-selling-price {
  width: 2vw;
  height: auto;
  font-size: 1rem;
  align-self: center;
  text-align: left;
}

.view-cart-component-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: flex-start;
}

.view-cart-component-text03 {
  height: auto;
  font-size: 1rem;
  align-self: center;
  text-align: center;
}

.view-cart-component-text06 {
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 1rem;
  text-align: left;
  margin-right: var(--dl-space-space-twounits);
}

.view-cart-component-product1 {
  flex: 0 0 auto;
  width: 70vw;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  justify-content: space-between;
}

.view-cart-component-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.view-cart-component-image {
  width: auto;
  height: 8vh;
  padding: 0px;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}

.view-cart-component-container06 {
  flex: 0 0 auto;
  width: 15vw;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.view-cart-component-name-product1 {
  width: 15vw;
  padding: 0px;
  font-size: 1rem;
  align-self: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
}

.view-cart-component-name-product2 {
  width: 15vw;
  padding: 0px;
  font-size: 1rem;
  align-self: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
}

.view-cart-component-selling-price1 {
  width: auto;
  height: auto;
  font-size: 1rem;
  align-self: center;
}

.view-cart-component-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: flex-start;
}

.view-cart-component-button {
  width: 2vw;
  height: 3.6vh;
}

.view-cart-component-text10 {
  height: 3.6vh;
  font-size: 0.9rem;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}

.view-cart-component-button1 {
  width: 2vw;
  height: 3.6vh;
}

.view-cart-component-container08 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-cart-component-text14 {
  color: var(--dl-color-theme-primary2);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 1rem;
  text-align: left;
}

.view-cart-component-button2 {
  fill: var(--dl-color-theme-secondary1);
  color: rgb(24, 23, 23);
  width: 1.5vw;
  height: auto;
  font-size: 0.5rem;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(43, 40, 40, 0.15);
}

.view-cart-component-container09 {
  flex: 0 0 auto;
  width: 70vw;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.view-cart-component-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-start;
}

.view-cart-component-container11 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.view-cart-component-button3 {
  width: 15vw;
}

.view-cart-component-container12 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.view-cart-component-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.view-cart-component-text15 {
  font-size: 1.5rem;
  margin-bottom: var(--dl-space-space-halfunit);
}

.view-cart-component-text18 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}

.view-cart-component-button4 {
  width: 100%;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
}

.view-cart-component-root-class-name {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  background-color: transparent;
}

@media(max-width: 1200px) {
  .view-cart-component-heading {
    height: 63px;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .view-cart-component-container10 {
    width: 140px;
  }

  .view-cart-component-container12 {
    width: 140px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.chats-chats {
  top: 713px;
  right: 0px;
  width: 7vw;
  height: 9vh;
  display: flex;
  position: fixed;
  align-self: center;
  align-items: center;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-end;
}

.chats-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.chats-icon {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 3vw;
  height: 5vh;
  margin: auto;
  position: absolute;
}

.chats-text {
  color: var(--dl-color-theme-primary2);
  font-size: 0.9rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
}

@media(max-width: 1200px) {
  .chats-chats {
    padding-right: 0px;
  }

  .chats-text {
    font-size: 0.7rem;
  }
}

@media(max-width: 991px) {
  .chats-chats {
    padding-right: 0px;
  }
}

@media(max-width: 767px) {
  .chats-chats {
    height: 5vh;
    padding-right: 0px;
  }

  .chats-icon {
    height: auto;
  }

  .chats-text {
    font-size: 0.5rem;
  }
}

@media(max-width: 479px) {
  .chats-chats {
    padding-right: 0px;
    justify-content: flex-end;
  }

  .chats-icon {
    width: 4vw;
    height: 4vh;
  }

  .chats-text {
    font-size: 0.3rem;
  }
}

.footer-footer1 {
  width: 80vw;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary1);
}

.footer-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}

.footer-newsletter {
  gap: 24px;
  width: 25vw;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.footer-container {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.footer-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}

.footer-container1 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}

.footer-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}

.footer-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.footer-links {
  gap: var(--dl-space-space-twounits);
  width: 50vw;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.footer-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.footer-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.footer-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.footer-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.footer-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.footer-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.footer-link {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.footer-link1 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.footer-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.footer-icon4 {
  width: 24px;
  height: 24px;
}

.footer-social-link5 {
  text-decoration: none;
}

.footer-link3 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.footer-icon6 {
  width: 24px;
  height: 24px;
}

.footer-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}

.footer-row {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.footer-footer-links2 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}

.footer-root-class-name4 {
  align-self: center;
}

.footer-root-class-name12 {
  align-self: center;
}

.footer-root-class-name19 {
  align-self: center;
}

.footer-root-class-name21 {
  align-self: center;
}

.footer-root-class-name23 {
  align-self: center;
}

.footer-root-class-name25 {
  align-self: center;
}

.footer-root-class-name26 {
  align-self: center;
}

.footer-root-class-name27 {
  align-self: center;
}

.footer-root-class-name28 {
  align-self: center;
}

.footer-root-class-name29 {
  align-self: center;
}

.footer-root-class-name30 {
  align-self: center;
}

.footer-root-class-name31 {
  align-self: center;
}

.footer-root-class-name34 {
  align-self: center;
}

.footer-root-class-name35 {
  align-self: center;
}

.footer-root-class-name36 {
  align-self: center;
}

.footer-root-class-name37 {
  align-self: center;
}

.footer-root-class-name38 {
  align-self: center;
}

.footer-root-class-name39 {
  align-self: center;
}

.footer-root-class-name40 {
  align-self: center;
}

.footer-root-class-name41 {
  align-self: center;
}

.footer-root-class-name42 {
  align-self: center;
}

.footer-root-class-name43 {
  align-self: center;
}

.footer-root-class-name44 {
  align-self: center;
}

.footer-root-class-name45 {
  align-self: center;
}

.footer-root-class-name46 {
  align-self: center;
}

.footer-root-class-name47 {
  align-self: center;
}

@media(max-width: 1200px) {
  .footer-links {
    flex-wrap: wrap;
  }
}

@media(max-width: 991px) {
  .footer-newsletter {
    width: 300px;
  }

  .footer-form {
    width: 100%;
    flex-direction: column;
  }

  .footer-container1 {
    width: 100%;
  }

  .footer-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }

  .footer-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }

  .footer-links {
    flex-wrap: wrap;
  }
}

@media(max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-newsletter {
    width: 100%;
  }

  .footer-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-container1 {
    width: 100%;
  }

  .footer-button {
    width: 208px;
  }

  .footer-links {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .footer-column1 {
    align-items: center;
  }

  .footer-column1-title {
    text-align: center;
  }

  .footer-footer-links {
    align-self: center;
  }

  .footer-column2 {
    align-items: center;
  }

  .footer-column2-title {
    text-align: center;
  }

  .footer-footer-links1 {
    align-self: center;
  }

  .footer-column3 {
    align-items: center;
  }

  .footer-social-link1-title {
    text-align: center;
  }

  .footer-social-links {
    align-self: center;
  }

  .footer-row {
    flex-direction: column;
  }
}

@media(max-width: 479px) {
  .footer-actions {
    width: 100%;
  }

  .footer-form {
    width: 100%;
    flex-direction: column;
  }

  .footer-container1 {
    width: 100%;
  }

  .footer-button {
    width: 100%;
  }

  .footer-links {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-footer-links {
    align-items: center;
    justify-content: center;
  }

  .footer-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-footer-links1 {
    align-items: center;
    justify-content: center;
  }

  .footer-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-social-links {
    align-items: center;
    justify-content: center;
  }

  .footer-credits {
    gap: 0;
  }

  .footer-row {
    align-items: center;
    justify-content: center;
  }

  .footer-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.view-cart-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

@media(max-width: 1200px) {
  .view-cart-container {
    align-items: center;
    justify-content: center;
  }
}