.navbar-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 11vh;
  display: flex;
  opacity: 1;
  align-items: flex-start;
  background-color: var(--dl-color-theme-secondary1);
}
.navbar-container2 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary1);
}
.navbar-navbar-interactive {
  top: 0;
  width: 100%;
  height: 11vh;
  display: flex;
  z-index: 1;
  position: fixed;
  max-width: 100%;
  align-self: stretch;
  box-shadow: 0px 4px 5px 0px #151111;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #a43c3c;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-theme-secondary1);
}
.navbar-pasted-image {
  width: 6vw;
  height: auto;
  min-width: 80px;
}
.navbar-desktop-menu {
  flex: 1;
  width: 80vw;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.navbar-links {
  gap: var(--dl-space-space-twounits);
  width: 70vw;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-container3 {
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-textinput {
  width: 100%;
  height: 3vh;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 20px;
}
.navbar-search {
  width: 5vw;
  height: 3vh;
  display: flex;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.navbar-text {
  font-size: 0.9rem;
  font-weight: 400;
}
.navbar-container4 {
  width: 35vw;
  height: 2vh;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-home {
  font-size: 0.9rem;
  text-decoration: none;
}
.navbar-contact {
  font-size: 0.9rem;
}
.navbar-whoweare {
  font-size: 0.9rem;
}
.navbar-manager-order {
  font-size: 0.9rem;
}
.navbar-buttons {
  width: 17vw;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-left: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-icon {
  fill: #101010;
  width: 3vw;
  height: 3vh;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.navbar-icon02 {
  fill: #161515;
  width: 3vw;
  height: 3vh;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.navbar-account {
  width: 8vw;
  height: 4vh;
  display: flex;
  position: relative;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
.navbar-icon04 {
  width: 3vw;
  height: 3vh;
  margin-left: var(--dl-space-space-halfunit);
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-textinput1 {
  width: 291px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
}
.navbar-search1 {
  width: 61px;
  height: 33px;
  display: flex;
  border-color: var(--dl-color-theme-primary1);
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.navbar-text3 {
  font-weight: 400;
}
.navbar-buttons1 {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}





































@media(max-width: 1200px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-pasted-image1 {
    width: 137px;
    height: 119px;
  }
}
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-burger-menu {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .navbar-pasted-image1 {
    width: 108px;
    height: 78px;
  }
  .navbar-textinput1 {
    width: 257px;
    height: 37px;
  }
}

.menu-function-container {
  width: 100%;
  height: 5vh;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(192, 36, 37) 0.00%,rgba(42, 42, 39, 0.45) 100.00%);
}
.menu-function-manager {
  width: 70vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-function-mgt-ware-house {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-size: 0.9rem;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 600;
}
.menu-function-mgt-customer {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-size: 0.9rem;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.menu-function-mgt-feebcack {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-size: 0.9rem;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.menu-function-mgt-staff {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-size: 0.9rem;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.menu-function-mgt-report {
  font-size: 0.9rem;
}






































.menu-function-root-class-name38 {
  align-self: center;
}


.edit-profile-component-container {
  width: 152vh;
  height: 877px;
  display: flex;
  position: relative;
  margin-top: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.edit-profile-component-container01 {
  width: 1282px;
  height: 741px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffdfd;
}
.edit-profile-component-container02 {
  flex: 0 0 auto;
  width: 338px;
  height: 584px;
  display: flex;
  align-items: flex-start;
}
.edit-profile-component-container03 {
  flex: 0 0 auto;
  width: 32.5vh;
  height: 20vw;
  display: flex;
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
}
.edit-profile-component-image {
  width: 200px;
  align-self: center;
  object-fit: cover;
  border-radius: 100px;
}
.edit-profile-component-button {
  margin-top: var(--dl-space-space-halfunit);
}
.edit-profile-component-container04 {
  flex: 0 0 auto;
  width: 793px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.edit-profile-component-container05 {
  width: 50vh;
  height: 8.202vw;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  border-radius: 80px;
  justify-content: center;
  background-color: #d64f08;
}
.edit-profile-component-text {
  color: #000000;
}
.edit-profile-component-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-component-form {
  width: 57.5625vw;
  height: 10vh;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: flex-end;
}
.edit-profile-component-text1 {
  left: 0px;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  font-family: "Merriweather";
  font-weight: 600;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.edit-profile-component-container07 {
  flex: 0 0 auto;
  width: 654px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.edit-profile-component-textinput {
  width: 100%;
  height: 35px;
  align-self: center;
  border-width: 0px;
  border-radius: 20px;
  background-color: #f1f1f1;
}
.edit-profile-component-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.edit-profile-component-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: flex-end;
}
.edit-profile-component-container10 {
  flex: 0 0 auto;
  width: 80vh;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: flex-end;
}
.edit-profile-component-container11 {
  flex: 0 0 auto;
  width: 138px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-component-text2 {
  font-size: 18px;
  font-family: "Merriweather";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.edit-profile-component-container12 {
  flex: 0 0 auto;
  width: 654px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.edit-profile-component-textinput1 {
  width: 100%;
  height: 35px;
  align-self: flex-end;
  border-width: 0px;
  border-radius: 20px;
  background-color: #f1f1f1;
}
.edit-profile-component-container13 {
  width: 100%;
  height: 98px;
  display: flex;
  align-items: flex-start;
}
.edit-profile-component-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: flex-end;
}
.edit-profile-component-container15 {
  flex: 0 0 auto;
  width: 136px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-component-text3 {
  text-transform: none;
}
.edit-profile-component-container16 {
  flex: 0 0 auto;
  width: 654px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.edit-profile-component-textinput2 {
  width: 100%;
  align-self: flex-end;
  border-width: 0px;
  border-radius: 20px;
  background-color: #f1f1f1;
}
.edit-profile-component-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.edit-profile-component-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: flex-end;
}
.edit-profile-component-container19 {
  flex: 0 0 auto;
  width: 139px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-component-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-component-text4 {
  font-size: 18px;
  font-family: "Merriweather";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.edit-profile-component-container21 {
  flex: 0 0 auto;
  width: 654px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.edit-profile-component-textinput3 {
  width: 100%;
  align-self: flex-end;
  border-width: 0px;
  border-radius: 20px;
  background-color: #f1f1f1;
}
.edit-profile-component-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.edit-profile-component-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: flex-end;
}
.edit-profile-component-container24 {
  flex: 0 0 auto;
  width: 137px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-component-text5 {
  font-size: 18px;
  font-family: "Merriweather";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.edit-profile-component-container25 {
  flex: 0 0 auto;
  width: 654px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.edit-profile-component-textinput4 {
  fill: #f1f1f1;
  color: #f1f1f1;
  width: 100%;
  align-self: flex-end;
}
.edit-profile-component-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.edit-profile-component-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: flex-end;
}
.edit-profile-component-container28 {
  flex: 0 0 auto;
  width: 140px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-component-text6 {
  font-size: 18px;
  font-family: "Merriweather";
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.edit-profile-component-container29 {
  flex: 0 0 auto;
  width: 654px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.edit-profile-component-textinput5 {
  width: 100%;
  align-self: flex-end;
  border-width: 0px;
  border-radius: 20px;
  background-color: #f1f1f1;
}
.edit-profile-component-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-component-navlink {
  color: var(--dl-color-theme-neutral-dark);
  width: 186px;
  height: 41px;
  text-decoration: none;
}
.edit-profile-component-root-class-name {
  width: 100%;
  margin-top: 0px;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}

.contact-contact20 {
  width: 80vw;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary1);
}
.contact-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact-text2 {
  text-align: center;
}
.contact-row {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.contact-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-contact-info {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
.contact-text3 {
  align-self: stretch;
  text-align: center;
}
.contact-text4 {
  text-align: center;
}
.contact-email {
  text-align: center;
}
.contact-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
.contact-text5 {
  align-self: stretch;
  text-align: center;
}
.contact-text6 {
  text-align: center;
}
.contact-phone {
  text-align: center;
}
.contact-content5 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
.contact-text7 {
  align-self: stretch;
  text-align: center;
}
.contact-text8 {
  text-align: center;
}
.contact-address {
  text-align: center;
}

















.contact-root-class-name17 {
  align-self: center;
}





.contact-root-class-name23 {
  align-self: center;
}
.contact-root-class-name24 {
  align-self: center;
}
.contact-root-class-name25 {
  align-self: center;
}
.contact-root-class-name26 {
  align-self: center;
}
.contact-root-class-name27 {
  align-self: center;
}
.contact-root-class-name28 {
  align-self: center;
}
.contact-root-class-name29 {
  align-self: center;
}


.contact-root-class-name32 {
  width: 80vw;
  align-self: center;
}
@media(max-width: 767px) {
  .contact-row {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .contact-row {
    align-items: stretch;
  }
}

.footer-footer1 {
  width: 80vw;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary1);
}
.footer-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer-newsletter {
  gap: 24px;
  width: 25vw;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-container {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer-container1 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footer-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footer-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-links {
  gap: var(--dl-space-space-twounits);
  width: 50vw;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer-link1 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer-icon4 {
  width: 24px;
  height: 24px;
}
.footer-link3 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer-icon6 {
  width: 24px;
  height: 24px;
}
.footer-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.footer-row {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer-footer-links2 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}



















.footer-root-class-name19 {
  align-self: center;
}





.footer-root-class-name25 {
  align-self: center;
}
.footer-root-class-name26 {
  align-self: center;
}
.footer-root-class-name27 {
  align-self: center;
}
.footer-root-class-name28 {
  align-self: center;
}
.footer-root-class-name29 {
  align-self: center;
}
.footer-root-class-name30 {
  align-self: center;
}
.footer-root-class-name31 {
  align-self: center;
}


.footer-root-class-name34 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer-newsletter {
    width: 300px;
  }
  .footer-form {
    width: 100%;
    flex-direction: column;
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-newsletter {
    width: 100%;
  }
  .footer-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-button {
    width: 208px;
  }
  .footer-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-column1 {
    align-items: center;
  }
  .footer-column1-title {
    text-align: center;
  }
  .footer-footer-links {
    align-self: center;
  }
  .footer-column2 {
    align-items: center;
  }
  .footer-column2-title {
    text-align: center;
  }
  .footer-footer-links1 {
    align-self: center;
  }
  .footer-column3 {
    align-items: center;
  }
  .footer-social-link1-title {
    text-align: center;
  }
  .footer-social-links {
    align-self: center;
  }
  .footer-row {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .footer-actions {
    width: 100%;
  }
  .footer-form {
    width: 100%;
    flex-direction: column;
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-button {
    width: 100%;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer-credits {
    gap: 0;
  }
  .footer-row {
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.edit-profile-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
