body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

p {
    color: #666;
    line-height: 1.6;
}

.code {
    font-size: 1.2em;
    font-weight: bold;
    color: #2c3e50;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 0;
}

.link {
    color: #2980b9;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333;
}

.link {
    color: #2980b9;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.footer {
    color: #999;
    font-size: 0.8em;
    margin-top: 20px;
    clear: both;
}

table {
    border-collapse: collapse;
    max-width: 75%;
    min-width: 50%;
    margin: auto;
    background-color: #ecf0f1;
}

td,
th {
    padding: 8px;
    text-align: left;
}

.section-header {
    color: white;
    font-weight: bold;
    background-color: #E65103;
}

.summary-item {
    border-right: 2px solid white;
}